/* GENERAL */

body {
    background-color: hsl(218, 28%, 13%);
    margin: 0;
    padding: 0;
}

.txt {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #FFF;
}

.hxt {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: #FFF;
}

.hxt-small {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: #FFF;
}


/* NAV */

.nav {
    position: relative;
    background-color: hsl(219, 30%, 18%);
    height: 100px;
}

.nav-img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-items {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.nav-items a {
    text-decoration: none;
    color: rgb(223, 213, 213);
    margin-left: 50px;

}

/* HEADER */

.header {
    background-color: hsl(219, 30%, 18%);
    position: relative;
    bottom: 20px;
    width: 100%;
    height: 1000px;
}

.background {
    width: 100%;
    height: 35%;
    bottom: 0;
}

.header-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.intro {
    top: 50px;
}

.header-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 600px;
    color: #FFF;
}

.header-btn {
    border: none;
    width: 250px;
    height: 60px;
    background-color: hsl(198, 60%, 50%);
    color: #FFF;
    font-size: 1.2rem;
    border-radius: 30px;
    margin-top: 20px;
}

.header-btn:hover {
    background-color: hsla(198, 60%, 50%, 0.432);
}

/* ADVANTAGES */

.advantages {
    width: 100%;
    height: 800px;
    text-align: center;

}

.item {
    display: inline-block;
    width: 35%;
    margin: 0 5% 5% 5%;
    color: #FFF;
}

.advantages-txt {
    padding: 0 10%;
}

/* SECTION */

.section {
    position: relative;
    width: 100%;
    height: 700px;
}

.section-img {
    position: absolute;
    left: 5%;
}

.section-txt {
    position: absolute;
    width: 40%;
    top: 15%;
    right: 5%;
}

.section-txt a {
    color: hsl(176, 68%, 64%);
}


/* COMMENT */

.comment {
    position: relative;
    text-align: center;
    margin: 0 4% 0 4%;
}

.comment-bg {
    position: absolute;
    z-index: -1;
    top: -35px;
}

.card {
    position: relative;
    background-color: hsl(219, 30%, 18%);
    display: inline-block;
    margin: 0 20px;
    height: 300px;
    width: 30%;
    z-index: 1;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.comment-txt {
    padding: 10px 50px;
    text-align: left;
}

.comment-txt p {
    font-size: 1.2rem;
}

.people-img {
    position: absolute;
    width: 20%;
    border-radius: 50%;
    left: 30px;
    bottom: 20px;
}

.people-txt {
    position: absolute;
    bottom: 30px;
    left: 200px;
}

.people-txt h3 {
    font-size: 1.3rem;
}

.people-txt p {
    font-size: 0.8rem;
    color: rgb(223, 213, 213)
}

/* EXTRA */

.extra {
    position: relative;
    top: 150px;
    background-color: hsl(217, 28%, 15%);
    width: 70%;
    height: 300px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    padding: 30px 5% 0 5%;
    z-index: 1;
}

.extra-input {
    width: 40%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    position: relative;
}

.extra-btn {
    border: none;
    width: 250px;
    height: 50px;
    background-color: hsl(198, 60%, 50%);
    color: #FFF;
    font-size: 1.2rem;
    border-radius: 30px;
    margin-left: 30px;
}

.extra-btn:hover {
    background-color: hsla(198, 60%, 50%, 0.432);
}

/* FOOTER */

.footer {
    background-color: hsl(216, 53%, 9%);
    height: 600px;
    text-align: center;
    position: relative;
}

.footer-img {
    position: absolute;
    left: 50%;
    top: 220px;
    transform: translateX(-50%);
}

.contact-item {
    display: inline-block;
    margin: 0 5%;
}

.folder {
    position: absolute;
    top: 380px;
    transform: translateX(-50%);
    left: 50%;
    height: 100px;
    width: 100%;
}

/* TRANSITION */

@media (max-width: 1500px) {

    .card {
        width: 25%;
    }

    .comment-txt p {
        font-size: 0.9rem;
    }
}

/* MOBILE */

@media (max-width: 800px) {

    .header-img {
        width: 60%;
    }

    .header-div {
        top: 500px;
    }

    .section-img {
        width: 40%;
        top: 100px;
    }

    .comment-txt {
        padding: 10px 20px;
    }

    .people-img {
        width: 30%;
        bottom: 40px;
    }

    .people-txt {
        bottom: 20px;
        left: 110px;
    }
}